# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea

$ git config --global user.name "Stepan"
$ git config --global user.email cholakstepan@gmail.com